.dark .jumbotron {
    background: #322a5e;
    border-radius: 0;
    color: #fff;
}
.dark{
    background-color: #3e3575;
}

.navbar-dark {
    background-color: #1f1b3b;
    color: White;
}

.feature{
  padding: 10px;
  margin: 30px auto;
  border-radius: 10px;
  border: 0;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
.dark .feature{
  color: #fff;
  background-color: #383069;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
}

.feature-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.detail-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail-info p{
  word-wrap: break-word;
}
.dark .contact{
  color: floralwhite;
}
.contact a.mail{
  text-decoration: none;
  color: #000;
}
.dark .contact a.mail{
  color: #fff;
}
