.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

.navbar-dark {
    background-color: #512DA8;
    color: White;
}

.media{
  border: 1px solid #000;
  padding: 10px;
  margin: 30px auto;
  border-radius: 10px;
  border: 0;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.view-link{
  margin: 4px auto;
}
.ans_unans{
  margin: 20px auto;
}
.tab-content{
  border: 1px solid #dee2e6;
  padding: 20px;
  border-top: 0;
}
